<div style="float: left; width: 100%; text-align:center">
  <h1>Main page</h1>
</div>
<div style="float: left; width: 100%;">
  <a routerLink="/" routerLinkActive="active">Home page</a>&nbsp;
  <a routerLink="/first" routerLinkActive="active">First page</a>&nbsp;
  <a routerLink="/second" routerLinkActive="active">Second page</a>
</div>
<div style="float: left; width: 100%;">
  <button (click)="addNewPassenger()">Add new passenger</button>
</div>
<div style="float: left; width: 100%;">
  <div 
    style="float: left; width: 100%;"
    *ngFor="let passenger of passengers | async"
  >
    {{ passenger.name }}
  </div>
</div>
<div style="float: left; width: 100%;">
  <router-outlet></router-outlet>
</div>
